@model MvcApplication1.Controllers.Employee


<div class="editor-label">
    @Html.LabelFor(model => model.Id)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.Id)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Name)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Name)
</div>


<div class="editor-label">
    @Html.LabelFor(model => model.Salary)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Salary)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.IsMale)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.IsMale)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.JoinDate)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.JoinDate, new { @class = "datePicker" })
</div>
<input id="submit1" name="submit1" type="submit" value="submit" />
@section Scripts {
<script>
    $(function () {
        $("#submit1").click(function () {
            alert("button");
        });

         $(".datePicker").datepicker({
            showOn: "button",
            buttonImage: "https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSMpmoWiXW0k1A77yb1QrFWluQSawe6Sc0BoAL3HdhMvyRMOztwZA",
            buttonImageOnly: true,
            buttonText: "Select date"
         });
     });

</script>
}